h2{ color: red;
	font-family: "Arial Black";
	font-size: 24px;
}
p { color: blue;
	font-family: "Arial Black";
	font-size: 20px;	
}
ul { font-family: "Arial Black";
	font-size: 20px; 
	color: green;

}